<!-- <section>
  <nav>
    <a routerLink="">HOME</a>
    <a routerLink="">MENU</a>
    <a routerLink="">CART</a>
    <a routerLink="">LOGIN</a>
    <a routerLink="">SIGNUP</a>
  </nav>
  <router-outlet></router-outlet>

  <div class="image-container">
    <img
      src="../assets/Images/bg.avif"
      alt="Image"
      class="transparent-image"
      width="1530px"
      height="400px"
    />
    <div class="text-overlay">
      <h1>{{ overlayText }}</h1>
    </div>
  </div>
</section> -->
<!-- <footer>
  <p>© 2024 E-commerce Food Ordering Website</p>
</footer> -->
<app-home></app-home>
