nav {
  display: flex;
  /* padding: 2% 6%; */
}
nav a {
  color: black;
  font-size: 20px;
  position: relative;
  margin-right: 50px;
  justify-content: space-between;
  top: 20px;
  left: 65%;
}
nav a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
  transition: 0.5s;
}
nav a:hover::after {
  width: 100%;
}
.image-container {
  position: relative;
}
.transparent-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 1;
}
.text-overlay {
  position: relative;
  z-index: 2;
  opacity: 1.1;
}
